# InfluxDB bootstrap
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=supersecret123
INFLUXDB_ORG=sim-racing
INFLUXDB_BUCKET=assetto-corsa
INFLUXDB_TOKEN=change-me-in-env

# Grafana admin
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin123

# Spring app uses this when running locally
INFLUXDB_URL=http://localhost:8086
